{
  "basePath": "/4537/termproject/API/V1",
  "consumes":[],
  "definitions": {
    "location":{
      "$ref": "",
      "additionalProperties": {},
      "allOf": [],
      "default": "",
      "description": "",
      "discriminator": "",
      "enum": [],
      "example": "",
      "exclusiveMaximum": false,
      "exclusiveMinimum": false,
      "externalDocs": {},
      "format": "",
      "items": {},
      "maximum": 0,
      "maxItems": 0,
      "maxLength": 0,
      "maxProperties": 0,
      "minimum": 0,
      "minItems":0,
      "minLength":0,
      "minProperties":0,
      "multipleOf": 0,
      "pattern": "",
      "properties": {},
      "required": [],
      "readOnly": false,
      "uniqueItems": false,
      "title": "",
      "type":"string",
      "xml": {}
    },
    "user": {
      "$ref": "",
      "additionalProperties": {},
      "allOf": [],
      "default": "",
      "description": "",
      "discriminator": "",
      "enum": [],
      "example": "",
      "exclusiveMaximum": false,
      "exclusiveMinimum": false,
      "externalDocs": {},
      "format": "",
      "items": {},
      "maximum": 0,
      "maxItems": 0,
      "maxLength": 0,
      "maxProperties": 0,
      "minimum": 0,
      "minItems":0,
      "minLength":0,
      "minProperties":0,
      "multipleOf": 0,
      "pattern": "",
      "properties": {},
      "required": [],
      "readOnly": false,
      "uniqueItems": false,
      "title": "",
      "type":"string",
      "xml": {}
    }
  },
  "externalDocs": {},
  "host": "michealozdoba.com",
  "info": {
    "version": "1.0.0",
    "title": "COMP4537 Term Project API",
    "description": "Open API Specifications for COMP4537 Term Project",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "paths": {
    "/location": {
      "delete": {
        "consumes": [],
        "deprecated": false,
        "description": "",
        "externalDocs": {},
        "operationId": "deleteLocationByName",
        "parameters": [],
        "produces":[],
        "responses": {
          "201": {
            "description": "",
            "$ref": "",
            "examples": {},
            "headers": {},
            "schema": {}
          }
        },
        "security": [],
        "schemes": [],
        "summary": "",
        "tags": ["location"]
      },
      "get": {
        "consumes": [],
        "deprecated": false,
        "description": "Returns all locations",
        "externalDocs": {},
        "operationId": "selectAllFromLocation",
        "parameters": [],
        "produces":["text/html"],
        "responses": {
          "200": {
            "description": "Successful Response"
          }
        },
        "security": [],
        "schemes": [],
        "summary": "Return a list of all locations",
        "tags": ["location"]
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded",
          "text/html"
        ],
        "deprecated": false,
        "description": "Create a location",
        "operationId": "createLocationByName",
        "parameters": [
          {
            "name": "location",
            "in": "body",
            "description": "Name of location to create",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Kelowna"
            }
          }
        ],
        "produces":["text/html"],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "Create a location",
        "tags": ["location"]
      },
      "put": {
        "consumes": [],
        "deprecated": false,
        "description": "",
        "externalDocs": {},
        "operationId": "",
        "parameters": [],
        "produces":[],
        "responses": {
          "201": {
            "description": "",
            "$ref": "",
            "examples": {},
            "headers": {},
            "schema": {}
          }
        },
        "security": [],
        "schemes": [],
        "summary": "",
        "tags": ["location"]
      }
    },
    "/stats": {
      "get": {
        "consumes": [],
        "deprecated": false,
        "description": "Returns number of requests served for all endpoints",
        "operationId": "",
        "parameters": [],
        "produces":["text/html"],
        "responses": {
          "200": {
            "description": "Successful Response",
            "examples": {}
          }
        },
        "security": [],
        "schemes": [],
        "summary": "Returns a list of request method and endpoint pairs with corresponding number of time each endpoint was hit",
        "tags": ["stats"]
      }
    }
  },

  "parameters": {},
  "produces":[],
  "responses": {},
  "schemes": ["https"],
  "security": [],
  "securityDefinitions": {},
  "swagger": "2.0",
  "tags":[
    {
      "externalDocs": {
        "description": "",
        "url": ""
      },
      "name": "location",
      "description": ""
    },
    {
      "externalDocs": {
        "description": "",
        "url": ""
      },
      "name": "login",
      "description": ""
    },
    {
      "externalDocs": {
        "description": "",
        "url": ""
      },
      "name": "post",
      "description": ""
    },
    {
      "externalDocs": {
        "description": "",
        "url": ""
      },
      "name": "stats",
      "description": "Stats for each existing endpoint"
    },
    {
      "externalDocs": {
        "description": "",
        "url": ""
      },
      "name": "user",
      "description": ""
    }
  ]
}