/*Image upload css*/
#theImageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#theImageContainer {
    height: 200px;
    width: 200px;
    border: 3px dashed darkgray;
    background-color: #fafafa;
    font-family: "Calibri";
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 50px;
    color: darkgrey;
    cursor: pointer;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}

#theImageField {
    display: none;
}

#errorMessage, #successMessage {
    font-family: "Calibri";
    font-size: 18px;
    margin-bottom: 25px;
}

#errorMessage {
    color: red;
}

#successMessage {
    color: green;
}

#theImageTag {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 110%;
    transform: translateX(-50%);
}

.hide {
    display: none;
}

#theImageContainer.dragging {
    border-color: green;
    border-width: 10px;
    opacity: .3;
}

.center_div{
    margin: 0 auto;
    width:60% /* value of your choice which suits your alignment */
}