.update-button {
  height: 50px;
  margin-right: 10px;
  width: 100px;
}

.delete-button {
  height: 50px;
  margin-left: 10px;
  width: 100px;
}

.hide {
  visibility: hidden;
}

.response-success {
  color: rgb(0, 182, 36) !important;
  font-size: 21px;
  position: relative;
  text-align: center;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
   opacity: 1;
}

.response-error {
  color: rgb(211, 27, 7) !important;
  font-size: 21px;
  position: relative;
  text-align: center;

  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
   opacity: 1;
}